.balanceWrapper {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.balanceTitle {
  margin-top: 0;
  color: #a0a0a8;
}

.balanceAmount {
  margin-top: 10px;
  font-weight: 500;
  color: #33aafe;
}